.App {
  text-align: center;
}

.navbar {
    background-color: #540D0D;
    padding: 50px;
}

a.navbar-brand{
    color:white;
}

a.nav-link {
    color:white;
}


.card {
    width: 25vw;
    padding: 20px;
    margin: 10px;
}

.card-bigcontainer {
    display:flex;
}