
.card-container{
width: 1300px;
overflow: hidden;
box-shadow: 0px 0px 15px -5px;
transition: 0.3s;
animation: ease-in;
margin: 0.5rem;
margin-top: 1.8rem;
color: maroon;
font-size: 1.5em;
}


.image-container img{
    overflow: hidden;
    height: 200px;
}

.card-content{
    margin: 2rem;
    margin-top: 0.75rem;
}

h3,p{
    margin: 0;
    padding:0;
}

.card-title{
    margin-bottom: 0.5rem;
}


a{
    text-transform: uppercase;
    color: skyblue;
    text-decoration: none;
    font-weight: bold;
} 
.gradedivide{
    display: flex;
    flex-Wrap: nowrap;
    justify-Content: space-evenly;

}
.centertext{
    display: flex;
    justify-Content: center;
    align-Items: center;
}