.Splash{
  text-align: center;
  height: 40vh;
  background-image: url("../images/career&tech.png"); ;
  background-size: cover;
  background-position: center;
  border-bottom: 3px
}

.Splash .text {
	color: white;
	font-weight: 600;
}

.Splash .primary {
	font-size: 4rem;
	padding-top: 12vh;
}

.Splash .secondary {
	font-size: 2rem;
} 